<% if signed_in? %>
  <span>用户：<%= current_user.name %></span> | <span style="cursor:pointer;" id="user_logout">退出</span>
<% else %>
  <span style="cursor:pointer;" data-toggle="modal" data-target="#loginDialog">登录</span> | <span style="cursor:pointer;" data-toggle="modal" data-target="#regDialog">注册</span>
<% end %>
